.achievement {
	position: relative;
	margin-bottom: 50px;
	z-index: 0;
	&::after {
		content: "";
		background: url(../images/content/achievement.jpg) no-repeat;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center;
		z-index: -1;
	}
	&__items {
		display: flex;
		justify-content: space-between;
		column-gap: 5px;
		padding-left: 83px;
		padding-right: 83px;
		@include adaptive-value("padding-left", 83, 0, 320, 1);
		@include adaptive-value("padding-right", 83, 0, 320, 1);
	}

	&__item {
		@include adaptive-value("padding-bottom", 83, 43, 320, 1);
		@include adaptive-value("padding-top", 86, 46, 320, 1);
		& p {
			font-weight: 400;
			@include adaptive-value("font-size", 40, 14, 320, 1);
			@include adaptive-value("line-height", 49, 20, 320, 1);
			text-align: center;
			color: $white;
		}
	}

	&__clients,
	&__cars,
	&__works,
	&__skils {
		font-weight: 700;
		@include adaptive-value("font-size", 55, 18, 320, 1);
		@include adaptive-value("line-height", 67, 30, 320, 1);
		text-align: center;

		color: $white;
		@include adaptive-value("padding-bottom", 14, 7, 320, 1);
		& span {
			letter-spacing: 0.1em;
		}
	}
}
