.autofromusa {
	position: relative;
	@include adaptive-value("margin-bottom", 76, 50, 991, 1);
	&__logo {
		display: none;
		@media (min-width: 768px) {
			@include adaptive-value("width", 165, 97, 991, 1);
			@include adaptive-value("height", 160, 95, 991, 1);
			width: 165px;
			height: 160px;
			position: absolute;
			display: block;
		}
	}

	&__title {
		font-weight: 700;
		@include adaptive-value("font-size", 64, 25, 320, 1);
		@include adaptive-value("line-height", 78, 36, 320, 1);
		text-align: center;
		color: $black;
		@include adaptive-value("width", 844, 280, 320, 1);
		margin: auto;
		@include adaptive-value("margin-bottom", 29, 15, 320, 1);
		@media (min-width: 768px) {
			@include adaptive-value("width", 844, 520, 768, 1);
		}
	}

	&__sub-title {
		font-weight: 300;
		@include adaptive-value("font-size", 48, 18, 320, 1);
		@include adaptive-value("line-height", 59, 30, 320, 1);
		font-size: 48px;
		line-height: 59px;
		text-align: center;
		letter-spacing: 0.02em;
		max-width: 1303px;
		margin: auto;
		@include adaptive-value("margin-bottom", 61, 35, 320, 1);
		& span {
			font-weight: 400;
		}
	}

	&__items {
		position: relative;
		display: flex;
		flex-direction: column;
		@media (min-width: 768px) {
			@include adaptive-value("left", 23, 29, 991, 1);
			flex-direction: row;
			justify-content: space-between;
			@include adaptive-value("width", 1101, 700, 991, 1);
			@include adaptive-value("height", 535, 480, 991, 1);
			margin: auto;
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		& p {
			left: 25px;
			@include adaptive-value("width", 345, 280, 991, 1);
			@include adaptive-value("height", 98, 86, 991, 1);
			font-weight: 400;
			@include adaptive-value("font-size", 40, 16, 320, 1);
			@include adaptive-value("line-height", 49, 30, 320, 1);
			color: $black;
			position: relative;
			z-index: 0;
			cursor: pointer;
			@media (min-width: 768px) {
				margin-bottom: 0px;
				@include adaptive-value("width", 345, 248, 991, 1);
				left: 0;
				&:hover {
					&::after {
						opacity: 0;
					}
					&::before {
						opacity: 1;
					}
				}
			}
			&::after {
				content: "";
				display: block;
				position: absolute;
				left: -33px;
				top: -8.5px;
				background: url(../images/content/Vector_1.svg) no-repeat;
				background-size: contain;
				@include adaptive-value("width", 71, 40, 320, 1);
				@include adaptive-value("height", 80, 50, 320, 1);
				z-index: -1;
				transition: 0.15s all;
				opacity: 1;
				@media (min-width: 768px) {
					width: 71px;
					height: 80px;
					@include adaptive-value("left", -47, -57, 768, 1);
					@include adaptive-value("top", -17, -23, 768, 1);
				}
			}
			&::before {
				@media (min-width: 768px) {
					content: "";
					display: block;
					position: absolute;
					background: url(../images/content/vector-solid.svg) no-repeat;
					background-size: contain;
					width: 71px;
					height: 80px;
					@include adaptive-value("left", -47, -57, 768, 1);
					@include adaptive-value("top", -16, -21, 768, 1);
					z-index: -1;
					transition: 0.15s all;
					opacity: 0;
				}
			}
		}
	}
}
